<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet"href="element.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <header>
        
    <div class="Nav1">
     <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="navbar-brand"id="top">Welcome to wedding vendor.</a>
        </div>
    
         <div class="col-md-6 ">
           <div class="toplinks">
            <ul class="nav navbar-nav">
                    <li ><a href="#">HELP</a></li>
                    <li><a href="#">PRICING</a></li>
                    <li><a href="#">IM COUPLE</a></li>
                    <li><a href="#">ARE YOU VENDOR</a></li>
                    <li><a href="#">LOG IN</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                </ul>
            </div>
         </div>
      </div>
     </div>
    </div>
        
        
        <nav class="navbar navbar-expand-sm " id="main-bar">
       <div class="container-fluid">
        <div class="header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../layout/image/logo.png" alt="wedding vendor" class="logoimg"></a>
        </div>
                
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class=" nav navbar-nav box navbar-right item " >
                
                <li class="dropdown ">
                    <a  class=" dropdown-toggle "data-toggle="dropdown" href="#" >HOME <span class="caret"></span></a>
                
                    
                    <ul class="dropdown-menu"> 
                        <li><a href="#">LINK1</a></li>
                           
                    </ul>
                    </li>
                
                    
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> LISTING <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">link2</a></li>
                        </ul>
                        </li>
                <li class="dropdown"> 
                    <a class="dropdown-toggle " data-toggle="dropdown" href="#">VENDOR<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">link1</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">SUPPLIER<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">link1</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">PLANNING TOOLS<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">link1</a></li>
                
                </li>
                </ul>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">FEATURES<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">link1</a></li>
                        </ul>
                        </li>
                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">REAL WEDDINGS<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">link1</a></li>
                        </ul>
                        </li>
                 
         </div>
        </div>
                
                </nav>

        
        
        
        </header>
    <div class="hero-sec-row">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-12">
                    <div class="hero2">
                        <h1 class="heading1">Find your Perfect Wedding Vendor</h1>
                        <p class="para">over<strong> 1200+ wedding vendor</strong> for you special date & find the perfect venue & save you date</p>
                    </div>
                
                <div class="form">
                        <input class="input1"type="text"placeholder="Select vendor category">
                        <input class="input1"type="text"placeholder="Select city">
                        <button class="button1">FIND VENDORS</button>
                        

                </div>
                </div>
                    
                    
            </div>
        </div>
    </div>
    
    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading2">Your Wedding Planning Start Here</h1>
                    <p class="para2">Various versions have evolved over the years sometimes by accidend sometimes on someone</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="../layout/image/vendor.svg">
               
                <h2 class="heading3">Find local vendor</h2>
                <p class="para2">Many desktop publishing packages and web page editors now use LoremIpsum as their default modek text. </p>
            </div>
            <div class="col-md-4">
                <img src="../layout/image/mail.svg">
            
            <h2 class="heading3">Contact Vendor</h2>
            <p class="para2">Various version have evolved over the years,sometimes byaccident,sometimes on purpose(injected humour and the like).</p>
            </div>
            <div class="col-md-4">
                <img src="../layout/image/couple.svg">
                <h2 class="heading3">Save Your Date</h2>
                <p class="para2">The generated Lorem Ipsum is therefore always free from repetition injected humour or non charactersiticswords etc.</p>

            </div>
        </div>
    </div>
     <div class="section3-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading2">Featured Wedding Vendor</h1>
                    <p class="para2">Many desktop publishing packages and web page editor now used orum psum as their default model text.</p>
                </div>
            </div>
        </div>
    </div>
    
   
    <div class="section3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                   <div class="one">
                        <a href="#">
                            <img src="../layout/image/vendor-1.jpg" alt="wedding vendor"class="img-responsive">

                        </a>

                        <h2 class="heading3">Venue Vendor Title</h2>
                        <p class="para6">Street Address,Name of Town,12345,country.</p>
                        <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <span class="rating-count">(2)</span>
                        </div>
                    </div>
                   <div class="price">$190-$600</div>
                </div>
    
                        
                
               
                <div class="col-md-4">
                    <div class="one">
                        <a href="#">
                            <img src="../layout/image/vendor-4.jpg" alt="wedding vendor" class="img-responsive">
                        </a>
                        <h2 class="heading3">Wedding Dress Vendor Title</h2>
                        <p class="para6">Street Address,Name of Town,12345,country.</p>
                        <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        
                        <span class="rating-count">(3)</span>
                        </div>
                    </div>
                        <div class="price">$290-$600</div>
                </div>

            
           
                <div class="col-md-4">
                   <div class="one">
                        <a href="#">
                            <img src="../layout/image/vendor-3.jpg" alt="wedding vendor" class="img-responsive">
                        </a>
                           
                            <h2 class="heading3">Vendor Photograph Title</h2>
                            <p class="para6">Street Address,Name of Town,12345,country.</p>
                     <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        
                        <span class="rating-count">(5)</span>
                        
                     </div>
                    </div>
                        <div class="price">$390-$600</div>
                    </div>
                </div>
            </div>
        </div>
 </div>
    
    <div class="section6">
        <div class="container">
          
           <div class="row">
                <h1 class="heading2">Top Wedding Location</h1>
                <p class="para2">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
            </div>
        </div>
    </div>
        
    
    
   <div class="section7">
      <div class="container">
        <div class="row">
        
            <div class="col-md-4">
                <div class="image1">
                <img src="../layout/image/location-pic.jpg" alt class="img-responsive">
            </div>
            </div>
            <div class="col-md-4">
                <div class="image1">
            <img src="../layout/image/location-pic-2.jpg" alt class="img-responsive">
            </div>
            </div>
            <div class="col-md-4">
                <div class="image1">
                <img src="../layout/image/location-pic-3.jpg" alt class="img-responsive">
            </div>
            </div>
            
    
        </div>  
        </div>      
    </div>
    
    
    <div class="section8">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="image1">
                    <img src="../layout/image/location-pic-4.jpg" alt class="img-responsive">
                </div>
                </div>
                <div class="col-md-4">
                    <div class="image1">
                    <img src="../layout/image/location-pic-5.jpg" alt class="img-responsive">
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section9">
        <div class="container">
           
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading2">Just Get Married Happy Couple</h1>
                    <p class="para2">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                </div>
            </div>
            </div>
        </div>
        

    </div>
    <div class="section9">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="../layout/image/couple.jpg"alt class="img-circle">
                    <p class="para2">"Had our wedding on 15th may 2015 and have to say Jenny and the team made it a wonderful and enjoyable day were Notting was a problem from the build up to the day."</p>
                    <div class="couple-info">
                        <div class="name">Dave Macwan</div>
                        <div class="date">Thu,21st june,2015</div>
                </div>
                
                </div>
                <div class="col-md-4">
                    <img src="../layout/image/couple-3.jpg" alt class="img-circle">
                    <p class="para2">"Vestibulum vitae neque urna. Duis ut mauris mi. Sed vehicula vestibulum finias their default model text and a search for lorem ipsum will uncover manym elit posuerenia eget sem."</p>
                    <div class="couple-info">
                        <div class="name">Marry & Leary</div>
                        <div class="date">Thu, 13th July, 2015</div>

                        
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../layout/image/couple-2.jpg" alt class="img-circle">
                    <p class="para2">"Had our wedding on 15th Oct 2015 and have to say Jenny and the team made it a wonderful and enjoyable day were Notting was a problem from the build up to the day."</p>
                    <div class="couple-info">
                        <div class="name">Jhon Doe & Doe Jassica</div>
                        <div class="date">Thu, 21st Aug, 2015</div>
                        
                    </div>
                </div>
            
        </div>
    </div>
    <div class="section10">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../layout/image/couple (1).svg">
                    <h2 class="heading3">Are you couple find the venue ?</h2>
                    <p class="para2">Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <a href="#" class="btn btn-primary">Find Vendor</a>
                </div>
                <div class="col-md-6">
                    <img src="../layout/image/vendor (1).svg">
                    <h2 class="heading3">Are you wedding vender ?</h2>
                    <p class="para2">Fusce eget elementum quam, vel tempor justo. Ut imperdiet eget sapien dictum aliquam. Nulla maximus sodales dignissim.</p>
                    <a href="#" class="btn btn-primary">ADD YOUR LISTING</a>
               </div>
            </div>
        </div>
    </div>
    <div class="section11">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="heading4">Wedding.Vendor</h2>
                    <p class="para3">At Wedding Vendor our purpose is to help people find great online network connecting wedding suppliers and wedding couples who use those suppliers. 
                        <a href="#" class="linkl">Start Find Vendor!</a>

                    </p>
                    <div class="button2">
                
                    <a href="#" class="btn btn-default ">FIND A VENDOR</a>
                    </div>
                
                </div>
                <div class="col-md-3">
                    <h2 class="heading4">Useful links</h2>
                    <ul class="Info1">
                        <li class="info">
                            <a href="#" class="info">About Us</a>
                        </li>
                        <li class="info">
                            <a href="#" class="info">Contact us</a>
                        </li>
                        <li class="info">
                            <a href="#" class="info">News</a>
                        </li>
                        <li class="info">
                            <a href="#" class="info">Carrer</a>
                        </li>
                        <li class="info">
                            <a href="#" class="info">Privacy Policy</a>
                        </li>
                        <li class="info">
                            <a href="#" class="info">Terms of Use</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="heading4">Subscribe for Newsletter</h2>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter E-Mail Address" required>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Submit</button>
                            </span>
                        </div>
                    </form>
                    <div class="social-icon">
                        <h2 class="heading5">Be Social & Stay Connected</h2>
                        <ul class="icon">
                            <li class>
                                <a href="#" class="icon1">
                                    <i class="fa-brands fa-square-facebook fa-xl"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="icon1" >
                                    <i class="fa-brands fa-square-twitter fa-xl"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="icon1" >
                                    <i class="fa-brands fa-square-google-plus fa-xl"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="icon1" >
                                    <i class="fa-brands fa-square-instagram fa-xl"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="icon1">
                                    <i class="fa-brands fa-flickr fa-xl"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Copyright © 2014. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
    
    
    
        
</body>
</html>